import { Component } from '@angular/core';
import { MovieService } from './services/movie.service';

@Component({
  selector: 'app-root',
  template: `
    <div>
      <h1>Movie List</h1>
      <app-movie-list></app-movie-list>
    </div>
    <div>
      <h2>Popular Movies</h2>
      <ul>
        <li *ngFor="let movie of movies">
          {{ movie.title }}
          <button (click)="showMovieDetails(movie.id)">Show Details</button>
        </li>
      </ul>
    </div>
  `,
})
export class AppComponent {
  constructor(private movieService: MovieService) {}
}